*{
  background-color: #8b8b8b;
}

/*Codigo do css para estilizar um login*/
.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  /*Codigo do css para estilizar um login*/
  .login__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }

  /*Mudando o tamenho da imagem do codigo*/
  .login__header img {
    width: 250px;
  }

  /*Definindo fonte e cor e tamanho do titulo do formulario*/
  .login__header h1 {
    color: #333;
    font-size: 1.5em;
  }
  
  /*Codigo do css para estilizar o input*/
  .login__input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
  }
  
  /*Codigo para estilizar o botão*/
  .login__button {
    background-color: #f05b47;
    border: 3px solid #4015ff;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
  }

 /*Codigo para estilizar o botão quando estiver desabilitado*/
  .login__button:disabled {
    background-color: #eee;
    border: 2px solid #969595;
    color: #aaa;
    cursor: auto;
  }