/*Define a estilização do conteudo dentro do main*/
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../imagen/bg.jpg');
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
  }
  /*CSS para definir o cabeçalho do jogo*/
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
  }

  /*CSS para as grades*/
  
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  /*CSS para as cartas*/
  .card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background-color: #ccc;
  }

  /*Css para estilização das faces da carta*/ 
  .face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 5px solid #2639eb;
    border-radius: 5px;
    transition: all 400ms ease;
  }
  /*Css para a retirar a inversão da carta na face frontal*/
  .front {
    transform: rotateY(180deg); 
  }

  /*Css para a parte de trás da carta*/
  .back {
    background-image: url('../imagen/back.jpg');
    backface-visibility: hidden;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
  }
  
  .reveal-card {
    transform: rotateY(180deg);
  }
  
  .disabled-card {
    filter: saturate(0);
    opacity: 0.5;
  }
  
  @media screen and (max-width:920px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
  
    }
  }
